Package: webiopi
Version: 0.7.1+-1
Architecture: armhf
Maintainer: Thor Watanabe <thormac@gmail.com>
Installed-Size: 28
Section: net
Priority: extra
Homepage: <https://github.com/thortex/rpi3-webiopi>
Description: WebIOPi - The Raspberry Pi Internet of Things Framework
 Control, debug, and use your Pi's GPIO, sensors and converters from
 a web browser or any app
 WebIOPi is the perfect Swiss-knife to make connected things
 Developed and provided by Eric PTAK (trouch)
 Runs on Raspberry Pi
